<!doctype html>
<html>
<head>
<title>Welcome to eCMS</title>
<link href="css/angular-bootstrap.css" rel="stylesheet">
<style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
</style>
</head>

<body ng-app="ecms-ui">
  <div class="container">
    <div ng-controller="home as home" ng-cloak class="ng-cloak">
   	 	<h1>{{home.welcomeMessage}}</h1>
      	<p>There are {{home.airlines.length}} airline(s):</p> 
		<div ng-repeat="airline in home.airlines track by airline.id">
		   <a href="{{airline.website}}">{{airline.name}} ({{airline.icaoCode}}) </a>
		</div>
    </div>
  </div>
  <script src="js/angular-bootstrap.js" type="text/javascript"></script>
  <script src="js/ecms.js"></script>
</body>
</html>